@if (!isAuthRoute() && !isAdminOrDashboardRoute()) {
  <app-header />
}

<main>
  @if (isAuthRoute() || isAdminOrDashboardRoute()) {
    <!-- Mostrar solo el router-outlet para rutas de autenticación, admin y dashboard -->
    <router-outlet />
  } @else if (isLandingRoute()) {
    <!-- Mostrar contenido principal de la landing page -->
    <app-banner-slider location="landing" />
    <app-hero />
    <app-ptc-ads />
    <app-video-section />


    <app-pricing />
    <app-tiers />
  } @else {
    <!-- Páginas públicas: about, terms, 404, etc. -->
    <router-outlet />
  }
</main>

@if (!isAuthRoute() && !isAdminOrDashboardRoute()) {
  <app-footer />
}
