@if (!isAuthRoute() && !isAdminOrDashboardRoute()) {
  <app-header />
}

<main>
  @if (isAuthRoute() || isAdminOrDashboardRoute()) {
    <!-- Mostrar solo el router-outlet para rutas de autenticación, admin y dashboard -->
    <router-outlet />
  } @else {
    <!-- Mostrar contenido principal de la landing page -->
    
    <app-banner-slider [slides]="bannerSlides()" />
    <app-hero />
    <app-ptc-ads />
    <app-video-section />
    
   
    <app-pricing />
    <app-tiers />
  }
</main>

@if (!isAuthRoute() && !isAdminOrDashboardRoute()) {
  <app-footer />
}
