@if (!isAuthRoute()) {
  <app-header />
}

<main>
  @if (isAuthRoute()) {
    <!-- Mostrar solo el router-outlet para rutas de autenticación -->
    <router-outlet />
  } @else {
    <!-- Mostrar contenido principal de la landing page -->
    
    <app-banner-slider [slides]="bannerSlides()" />
    <app-ptc-ads />
    <app-video-section />
    <app-hero />
    <app-testimonials />
    
    <app-how-it-works />
    <app-pricing />
    <app-tiers />
  }
</main>

@if (!isAuthRoute()) {
  <app-footer />
}
