:host {
  display: block;
}

textarea,
select {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.3) transparent;
}

textarea::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.3);
  border-radius: 4px;
}
